.filterContainer{
    background-color: rgb(224, 224, 224, 0.3);
    width: 100%;
    border-radius: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.filterContainer .setores{
   list-style: none;
   display: flex;
   margin-left: 10px;
}

.filterContainer .setor{
    padding: .6rem 1rem;
}

.filterContainer .setorSelecionado{
    padding: .6rem 1rem;
    bottom: 0;
    border-bottom: 1px solid rgba(189, 44, 44, 0.6);
    border-width: 0.4cap;
    cursor: pointer;
}

.filterContainer .setor:hover {
    bottom: 0;
    border-bottom: 1px solid rgb(65, 65, 65, 0.6);
    border-width: 0.4cap;
    cursor: pointer;
}

.pesquisar{
    margin-right: 20px;
}


.pesquisar .pesquisarInput{
    margin-left: 10px;
    padding: 8px;
    border: none;
    border-radius: 1rem;
    width: 300px;
    font-size: 16px;
}

